@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 28%
    left: 14%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 79%
    right: 5%
    width: 25%
  &-3
    animation: float1 2.3s ease-in-out infinite alternate
    position: absolute
    top: 23%
    right: 0%
    width: 25%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 33%
  max-width: 350px
        
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
figcaption 
  font-weight: normal !important



/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/temas/bg/mini-portada.png') !important
  background-position: top left
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ul--color.color-adicional-2 li > i:first-of-type  
  color: $color-adicional-2  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.ct-color-acento-botones
  color: $color-acento-botones
.ct-secundario 
  color: $color-secundario !important
.ct-acento-contenido 
  color: $color-acento-contenido !important
.w-fit
  width: fit-content
.columns-2
  columns: 2
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important
.br-top
  border-top-left-radius: 20px 
  border-top-right-radius: 20px 
.br-left
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px 
.br-right
  border-top-right-radius: 20px 
  border-bottom-right-radius: 20px 
.tabs-a__tab__text 
  white-space: normal
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important


.p-full-width
  padding: 3rem 3.5rem !important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/bg1.png)
  &-2
    background-image: url(../assets/curso/temas/bg/bg2.png)
.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: #FFDFDA 
  &-3
    background-color: #EEFBF1 !important
  &-4
    background-color: #EBF9FB !important
  &-5
    background-color: #CEF1D4 
  &-6
    background-color: #FFF7EA

.w-80x
  width: 80px
.subt
  display: flex
  align-items: end
  position: relative  
  width: fit-content  
  img
    width: 40px
    z-index: 1
  h3 
    z-index: 1
    padding-bottom: 5px
  &::before
    content: ''
    position: absolute
    background-color: #5CD172 
    border-radius: 100px
    width: 100%
    height: 65%
    left: 4px
    z-index: 0
  @media (max-width: $bp-max-sm)
    h3 
      padding-bottom: 1px
    &::before
      height: 96%
.tarjeta-t2
  border-radius: 20px
  background-image: url(../assets/curso/temas/bg/tarj.png)
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  background-color: #C5EDF4
  transition: all 0.3s ease-out
  &:hover
    background-color: #CEF1D4
    transition: all 0.3s ease-out

.avatar
  position: absolute
  bottom: 0
  right: -2rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5
    color: #12263F 
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #EEFBF1 !important
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--other
  &::before
    background-color: #CEF1D4 !important
.crd--first, .crd--last
  &::before
    background-color: #CEF1D4 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px
.slyder__btn
  background-color: $color-acento-botones
  border-color: $color-acento-botones
.slyder-f__btn i
  color: $color-acento-botones
.slyder-a
  &__bullets__item--active
    background-color: $color-acento-botones
    border-color: $color-acento-botones
  &__btn--sigt, &__btn--atrs
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 0.9
  &__bullets__item
    margin: 0 7px
.tabs-a
  &__tab
    background-color: #E8F4DE
.linea-tiempo-d
  &__item__content__title, &__item__number
    background-color: #CEF1D4
  &__item--selected .linea-tiempo-d__item__content, &__item--selected .linea-tiempo-d__item__content__title
    background-color: #FFF7EA
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto
  color: $color-sistema-texto
  font-style: inherit !important


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 